* {
  margin: 0px;
  padding: 0px;
  font-family: menlo,"roboto slab","roboto", Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --main-white: #fefefe;
  --main-p-white: #E4E4E4;
  --secondary-p-blue: #8B96B7;
  --background-blue: #17213F;
  --title-light-blue: #D6DDF1;
}

body {
  display: block;
  position: relative;
  min-height: 100vh;
  background-color: var(--background-blue);
  color: var(--main-white);
}

main,
h2,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: var(--main-p-white);
}


h1 {
  font-size: 36px;
  justify-content: center;
}

h2 {
  font-size: 25px;
  margin: 50px 0px 20px 0px;
  
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-light-blue);
}

header {
  text-align: center;
  margin-bottom: 50px;
}


.about-section {
  text-align: center;
  max-width: 1000px;
}

.about-section p {
  margin-top: 10px;
}


.card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.card {
  border: solid 0px;
  max-width: 420px;
  border-radius: 5px;
  background-color: #0F162B;
}

.card p {
  color: #8B96B7;
}

.card img {
  overflow: hidden;
  border-radius: 3px 3px 0px 0px;
}

.card-info {
  margin: 10px 20px 10px 20px;
}

.icon-links {
  margin: 20px 0px 20px 0px;
  font-size: 20px;
}

.icon-links i {
  color: var(--main-white);
  cursor: pointer;
}

.icon-links i:hover {
  opacity: .5;
}

.skills-icons {
  font-size: 40px;
}

.contact-section {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  padding: 10px 0px 10px 0px;
  font-size: 14px;
}


@media (max-width: 1320px) {
  .card-wrap {
    flex-direction: column;
  }
  .about-section p{
    max-width: 420px;
  }
}

@media (max-width: 420px) {

  p {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  .card,
  .card img,
  .about-section {
    max-width: 320px;
  }

}