* {
  margin: 0px;
  padding: 0px;
  font-family: "roboto slab","roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: block;
  position: relative;
  min-height: 100vh;
}

main,
h2,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 16px;
  font-weight: 400;

}


h1 {
  font-size: 36px;
  justify-content: center;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

header{
  text-align: center;
}



h2 {
  margin: 20px 0px 20px 0px;
}

.about-section {
  text-align: center;
  max-width: 1000px;
}

.about-section p {
  margin-top: 10px;
}

.card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.card {
  border: solid 3px #000000;
  max-width: 420px;
  border-radius: 5px;
}

.card img {
  overflow: hidden;
  max-width: 400px;
  padding: 10px 10px 0px 10px;
}

.card-info {
  margin: 10px 20px 10px 20px;
}

.icon-links {
  margin-top: 10px;
  font-size: 20px;
}

.icon-links i {
  color: #000000;
  cursor: pointer;
}

.icon-links i:hover {
  opacity: .5;
}

.skills-icons {
  font-size: 40px;
}

.contact-section {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  padding: 10px 0px 10px 0px;
}


@media (max-width: 1320px) {
  .card-wrap {
    flex-direction: column;
  }
  .about-section p{
    max-width: 420px;
  }
}

@media (max-width: 420px) {

  p {
    font-size: 14px;
  }

  .card,
  .about-section {
    max-width: 320px;
  }

  .card img {
    max-width: 300px;
  }
}